
#the name of this app
app.name = My IMVC App

#the location of the core library
#this is loaded before the rest of the app
app.library.root = /Library/Core

#location of the log file
app.logging.log = /Logs/app.log

#valid reporting levels:
# console - all reporting goes only to the console
# debug - all reporting goes to the console and log files
# important - only errors are reported to the console, everything else to the log files
# log - all reporting goes to the log files only
# silent - reporting goes nowhere
app.logging.reportingLevel = console

#sets the application environment
#set to either dev or prod
app.environment = dev

#folders in app.ignore will not be 
#required on the server (for client files)
app.ignore.public = /Public
app.ignore.client = /Client
app.ignore.clientLib = /Library/Client
app.ignore.logs = /Logs

#ignoring ejs so the benchmark doesn't run
app.ignore.ejs = /Library/Core/View/ejs

#ignoring mongoose so the benchmark doesn't run
app.ignore.mongoose = /Library/Core/Model/mongoose

#location of a file containing routing information
http.routes = /Config/Routes.config


#the host for the webserver
#can be any IPV4 value or localhost
http.host = localhost

#the port number the server will listen on
http.port = 9009


#encrypted cookies will be encrypted using this algorithm
http.cookies.encryption.algorithm = AES256

#encrypted cookies will use this key for encryption/decryption
http.cookies.encryption.key = SOME_KEY


#database related stuff
db.host = localhost
db.port = 27017
db.database = IMVC
#db.connectionString = mongodb://localhost:27017/IMVC
#db.username = ******
#db.password = ******
