
#index
GET            /                                    HomeController.Index
GET            /index                               HomeController.Index

GET            /blah/{someValue}                    HomeController.otherAction

#mapping /public to be static
GET            /public                              static:/Public

#ignoring requests for favicon
GET            /favicon.ico                         ignore

#catch-all
GET            /{controller}/{action}               {controller}.{action}

